<main>
  <div
    class="container-fluid bg-trasparent my-4 p-3 text-center mb-0 pb-0"
    style="color: #252525"
  >
    <h1 class="fw-bolder">All Products</h1>
    <p
      class="fw-normal"
      style="margin-top: -8px; color: #252525; padding: 20px"
    >
      <span> Select the product of your choice that best fits your need </span>
    </p>
  </div>
  <div
    class="container-fluid bg-trasparent my-4 p-3"
    style="position: relative"
  >
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-5">
      <div class="col-6">
        <div class="card h-100">
          <div
            class="float-container p-3 mb-2 pb-0"
            style="display: flex; align-items: center"
          >
            <div class="float-child">
              <div class="d-flex">
                <div
                  class="d-flex flex-row align-items-center"
                  style="border-right: solid 1px #e0dddd; padding-right: 15px"
                >
                  <div class="icon"><i class="fa fa-television"></i></div>
                  <div class="ms-3 c-details">
                    <h3 class="heading fw-bold">Extended<br />Warranty</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="float-child">
              <div class="d-flex">
                <div class="d-flex flex-row align-items-start ms-2">
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>
                      <span class="fa fa-check-square-o"></span> Extensive
                      Service Network
                    </li>
                    <li>
                      <span class="fa fa-check-square-o"></span> Competitive
                      Pricing Advantage
                    </li>
                    <li>
                      <span class="fa fa-check-square-o"></span> Coprehensive
                      Coverage
                    </li>
                    <li>
                      <span class="fa fa-check-square-o"></span> Faster Claim
                      Process
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer"> -->
          <div class="text-center mb-3 d-flex justify-content-center">
            <a (click)="openmodel1()" class="btn btn-warning">Buy Now</a>
            <a
              class="btn ms-2"
              style="
                background: none #ffffff;
                border: 1px solid #ff5a00;
                text-decoration: none;
                outline: 0;
                border-radius: 100px; ;
              "
              >Know More</a
            >
          </div>
          <!-- </div> -->
        </div>
      </div>
      <div class="col-6">
        <div class="card h-100">
          <div
            class="float-container p-3 mb-2 pb-0"
            style="display: flex; align-items: center"
          >
            <div class="float-child">
              <div class="d-flex">
                <div
                  class="d-flex flex-row align-items-center"
                  style="border-right: solid 1px #e0dddd; padding-right: 15px"
                >
                  <div class="icon"><i class="fa fa-mobile"></i></div>
                  <div class="ms-3 c-details">
                    <h3 class="heading fw-bold">Mobile<br />Insurance</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="float-child">
              <div class="d-flex">
                <div class="d-flex flex-row align-items-start ms-2">
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>
                      <span class="fa fa-check-square-o"></span> Extensive
                      Service Network
                    </li>
                    <li>
                      <span class="fa fa-check-square-o"></span> Competitive
                      Pricing Advantage
                    </li>
                    <li>
                      <span class="fa fa-check-square-o"></span> Coprehensive
                      Coverage
                    </li>
                    <li>
                      <span class="fa fa-check-square-o"></span> Faster Claim
                      Process
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer"> -->
          <div class="text-center mb-3 d-flex justify-content-center">
            <a (click)="openmodel1()" class="btn btn-warning">Buy Now</a>
            <a
              class="btn ms-2"
              style="
                background: none #ffffff;
                border: 1px solid #ff5a00;
                text-decoration: none;
                outline: 0;
                border-radius: 100px; ;
              "
              >Know More</a
            >
          </div>
          <!-- </div> -->
        </div>
      </div>
      <!-- <div class="col-6">
        <div class="card h-100">
          <img
            src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success"
                >12354.00&euro;</span
              >
              <span class="float-end"><a href="#">Example</a></span>
            </div>
            <h5 class="card-title">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum
              ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam
              sequi.
            </h5>
            <div class="d-grid gap-2 my-4">
              <a href="#" class="btn btn-warning">Check offer</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</main>

<!-- ----------------------- ALL MODALS ----------------------- -->

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLabel">
          Enter Details
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cleardata()"
        ></button>

      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="name"
              placeholder="Enter Name*"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              (keypress)="keyPressNumbers($event)"
              name="number" id="number"
              maxlength="10"
              [(ngModel)]="number"
              placeholder="Enter Mobile No.*"
            />

          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="pan"
              maxlength="10"
              (change)="isValidPanCardNo(pan)"
              (ngModelChange)="pan = $event.toUpperCase(); panlenght(pan)"
              placeholder="Enter PAN No.*"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" [disabled]="pancheck == false" (click)="otpsend()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLabel">
          Enter OTP
        </h5>
        <button
          type="button"
          class="btn btn-link text-light"
          data-bs-dismiss="modal"
          (click)="cloasemodel()"
          aria-label="Close"
          type="button"
          class="btn-close btn-close-white"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <div class="col-12" style="    display: flex;
          justify-content: center;">
            <p style="color: black">We have sent an OTP to {{ number }}</p>
          </div>
          <div class="col-12" style="    display: flex;
          justify-content: center;">
            <ngx-otp-input #ngxotp [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)">
</ngx-otp-input>
        </div>
        </div>
        <!-- <div class="mb-3 row">
          <div class="col-12">
              <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)">
</ngx-otp-input>
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="resendotp()" style="margin-right: 37px;">Resend OTP</button>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)=" click()">set</button>
<button (click)=" click1()">get</button> -->